MEDUSA_POSTGRES_DB=medusa
MEDUSA_POSTGRES_USER=medusa
MEDUSA_POSTGRES_PASSWORD=replace-with-random-password
DATABASE_URL=postgres://medusa:replace-with-random-password@medusa-postgres:5432/medusa
REDIS_URL=redis://medusa-redis:6379
CACHE_REDIS_URL=redis://medusa-redis:6379
LOCKING_REDIS_URL=redis://medusa-redis:6379
JWT_SECRET=replace-with-random-hex
COOKIE_SECRET=replace-with-random-hex
MEDUSA_BACKEND_URL=https://medusa.devliv.io
STORE_CORS=https://ship-fast.io,https://ship-fast.devliv.io
ADMIN_CORS=https://medusa.devliv.io
AUTH_CORS=https://ship-fast.io,https://ship-fast.devliv.io,https://medusa.devliv.io
MEDUSA_SEED_ADMIN_EMAIL=admin@example.com
MEDUSA_SEED_ADMIN_PASSWORD=replace-with-admin-password
